#gallery {
  img {
    &.thumbnail {
      width: 100px;
    }

    &.active-image {
      height: 300px;
    }

    &.active-thumbnail {
      border: 1px dashed black;
    }
  }

  .thumbnails-list {
    display: flex;
    align-items: center;

    .arrow {
      margin: 5px;
      font-size: 5em;
      cursor: pointer;
    }
  }
}
